<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <hi>Ejemplo de un index.html</hi>
        </header>
        <section>
            <h2>Esta es la tienda en línea del curso</h2>
        </section>
        <footer>
            Todos los Derechos Reservados TechShop 2025 &COPY;
        </footer>
    </body>
</html>
